body {
    background-color: lightgreen;
    }

.container{
    margin:50px 50px;
    min-width: 300px;
}

.col-xs-4{
    width: 150px;
    height: 150px;
    background-color: lightseagreen;
    border: 5px solid white;
    border-radius: 30px;
    color: limegreen;
    font-size: 140px;
    line-height: 140px;
    text-align: center;
    margin:2px;
}
 
/*Reset button*/

#reset{
    width: 460px;
    background-color:white;
    margin-top: 10px;
    text-align: center;
    border: 1px solid limegreen;
    border-radius: 30px;   
}

#reset:hover{
    background-color: navajowhite;
    box-shadow: 0 0 3px green;
}

h3{
    margin: 0;
    color:limegreen;
}

/*Media*/

@media screen and (max-width: 550px) {
    .col-xs-4 {
    width: 75px;
    height: 75px;
    padding:0;
    font-size: 65px;
    line-height: 65px;
    }

    .container{
    margin:20px 20px;
    }

    #reset{
    width: 240px;
    }
    
}

